@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root, .App {
    height: 100%;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*::-moz-selection{
    color: white;
    background-color: #663579;
}
*::selection{
    color: white;
    background-color: #663579;
}

.MuiSpeedDial-root .MuiSpeedDial-fab{
    background-color: #2e1534;
}

.css-118zhtq-MuiButtonBase-root-MuiFab-root-MuiSpeedDial-fab:hover{
    background-color: #2e1534 !important;
}

.MuiBadge-badge.MuiBadge-badge {
    right: 15px;
    top: 10px;

}

.MuiList-root.MuiMenu-list{
    background-color: #2e1534 !important;
    color: white;
}

.MuiList-root.MuiMenu-list .MuiMenuItem-root{
    transition: 0.1s ease;
}

.MuiList-root.MuiMenu-list .MuiMenuItem-root:hover{
    color: #663579;
}

::-webkit-scrollbar{
    width: 0.43rem;
    position: absolute;
}
::-webkit-scrollbar-track{
    position: absolute;
    background: transparent;
}
::-webkit-scrollbar-thumb{
    position: absolute;
    background-color: rgba(86, 53, 100, 0.09);
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover{
    background: #3e1d46;
}

@media screen and (max-width: 768px){
    ::-webkit-scrollbar{
        width: 0.33rem;
        position: absolute;
    }
    ::-webkit-scrollbar-thumb{
        position: absolute;
        background-color: rgba(86, 53, 100, 0.78);
        border-radius: 3px;
    }
}
